* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    position: relative;
}

.MiniGallery {
    
    z-index: 1;
}

.miniPhoto {
    margin: 10px;
}

.maxGalleryWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.maxGalleryWrapper__image {
    margin: 20px 10%; 
    max-width: 90%;
    max-height: 90%;
}

.maxGalleryWrapper__close {
    position: absolute;
    top: 0;
    right: 20%;
}

.maxGalleryWrapper__left {
    position: absolute;
    top: 50%;
    left: 10%;
}

.maxGalleryWrapper__right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: rotate(180deg);
}