* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    position: relative;
}

.MiniGallery {
    
    z-index: 1;
}

.miniPhoto {
    margin: 10px;
}

.maxGalleryWrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.maxGalleryWrapper__image {
    margin: 50px 10%; 
    max-width: 80%;
    max-height: 80%;
}

.maxGalleryWrapper__close {
    position: absolute;
    top: 0;
    right: 5%;
}